	.header{
				width: 100vw;
				height: 50px;
				
				line-height: 50px;
				padding-left: 30px;
			}
			.box_center input{
				width: 200px;
				height:30px;
				margin-left: 10px;
			}
			
		.box_border{
			border: solid 1px silver;
		}
			.box_top{
				width: 100%;
				height: 40px;
				line-height: 40px;
				font-size: 20px;
				padding-left: 30px;
			background-color: #d7dde4;
				border-bottom: solid 1px silver;
			}
			
			.box_center{
				width: 100%;
				height: 70px;
				text-align: center;
				line-height: 70px;
				border-bottom:solid silver 1px ;
			}
			
			.box_center label{
				font-size: 22px;
			}
			
			.box_center select{
				width: 100px;
				height:40px;
				margin-left: 10px;
			}
			
			.box_bottom{
				width: 100%;
				height: 40px;
				
			}
			
			.box_bottom input{
				width: 60px;
				height: 30px;
				float: right;
				margin-top: 5px;
				margin-right: 20px;
				border-radius: 6px;
			}
			
			.table {
	padding: 0;
	margin: 0;
	position: relative;
	margin: 0 auto;
}

.table tbody tr th {
	background: #044599 no-repeat;
	text-align: center;
	border-left: 1px solid #02397F;
	border-right: 1px solid #02397F;
	border-bottom: 1px solid #02397F;
	border-top: 1px solid #02397F;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
	height: 37px;
}

.table tbody tr td {
	text-align: center;
	border-left: 1px solid #ECECEC;
	border-right: 1px solid #ECECEC;
	border-bottom: 1px solid #ECECEC;
	font-size: 15px;
	color: #909090;
	height: 37px;
}

.ui_flt {
	float: left;
}

.ui_frt {
	float: right;
}

.bottom{
	margin-top: 20px;
	padding: 0px 20px;
}

.ui_input_btn01{
	width: 100px;
	height: 30px;
	border-radius: 6px;
}

.ui_input_txt01{
	width: 50px;
	height: 30px;
	border-radius: 6px;
}

.box{
				display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(128,128,128,0.4);

}
.file{
	width: 600px;
	height: 800px;
	margin: 0 auto;
	margin-top: 100px;
	background-color: whitesmoke;
}
.file>h3{
	text-align: center;
	padding-top: 30px;
	
}

.file p{
	text-align: center;
	height: 30px;
	padding: 10px;
}
.file p span{
	color: #888;
	font: 20px;
	width: 80px;
	display: inline-block;
}

.file p input{
	height: 24px;
	width: 200px;
}

.file>form>input{
	width: 200px;
	height: 40px;
	background-color: #D8D8D8;
	border-radius: 4px;
	margin-top: 20px;
	margin-left: 200px;
	border: none;
	cursor: pointer;
}
.search{width: 300px; height: 40px;border-radius: 6px;}